.container{
    display: flex;
    justify-content: space-around;
}

.instructions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 16px;
}

.instructions-a p, .instructions-b p{
    text-align: left;
}

h1, h3, p {
    text-align: center;
}

.selection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

button {
    width:200px;
    height:200px;
    background-color: black;
    color: white;
    border-radius: 10px;
    border: 1px solid white
}